body {
    text-align: center;
    background: hsl(15, 14%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    margin-top: 40px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #110b0b;
    color: rgb(248, 240, 240);
    border: none;
    border-radius: 5px;
}
button:hover{
    background: rgba(25, 171, 22, 0.97);
}



